html {
    background-color: #232931;
    color: #eeeeee;
}

button {
    font-size: 14px;
    background-color: #4ecca3;
    color: #393e46;
    padding: 10px;
    border: none;
    cursor: pointer;
}

img {
    display: none;
    padding: 20px;
    /* width: 450px;
    height: 200px; */
    width: 50%;
    height: 50%;
}

input[type="file"] {
    display: none;
}

#result {
    margin-top: 20px;
}

#myProgress {
    width: 100%;
    margin-top: 20px;
    background-color: #eeeeee;
}
  
#myBar {
    width: 1%;
    /* display: inline-block; */
    /* height: 10px; */
    font-size: 14px;
    background-color: #4ecca3;
    text-align: center;
    /* line-height: 30px; */
    color: #393e46;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container {
    display: table;
    width: 100%
}

.input-file {
    display: table-cell;
    padding: 10px;
    background-color: #4ecca3;
    color: #393e46;
    cursor: pointer;
    width: 30%;
}

.file-name {
    vertical-align: middle;
    display: table-cell;
    background: #eeeeee;
    padding: 10px;
    color: #393e46;
    width: 70%;
}